header {
    display:grid;
    grid-template-columns:24px auto 44px;
    padding: 5px 0 10px;
    align-items:end;
    border-bottom:solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display:block;
    width:100%;
    height:auto;
}

header span {
    font-size:1.2em;
    color:#3d405b;
}

.hamburger {
    background-color:none;
    border:none;
    color:black;
    cursor: pointer;
}

.hamburger::before {
    content:"\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content:"\00D7";
    font-size: 2rem;
}
.navigation {
    display: none;
  }


.navigation.show {
  display: block;
}