@media screen and (min-width: 768px) {

    #members-container {
        grid-template-columns: repeat(3, 1fr);
    }

        #menu-button {
        display: none;
    }

    .navigation {
        display: flex;
        gap: 1rem;
    }
}

